* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    background: #dedede;
}

.header {
    width: 100%;
    height: 7vw;
    background: transparent;
    z-index: 3;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo img {
        width: 30vw;
    }

    .list {

        ul {
            display: flex;
            color: white;
            gap: 2vw;
            list-style-type: none;
            padding-left: 4vw;
            cursor: pointer;
        }
    }

    a {
        text-decoration: none;
        color: white;
    }

    .icones {
        width: 383px;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 2vw;
        margin-right: 2vw;


        .icones img {
            width: 3vw;
            height: 3vw;
            color: white;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

    }

    .icones img:nth-child(2) {
        width: 3vw;
        height: 3vw;
        cursor: pointer;
    }

    .icones img:nth-child(1) {
        cursor: pointer;
    }
}


.section1 {
    position: absolute;
    top: -1.6%;
    width: 100%;
    height: 102vh;
}

.slaider {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 2;

    .slide {
        display: flex;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        clip-path: circle(10% at 89% 50%);
        transition: 0s 2s;
        z-index: 2;
        opacity: 0;
        background: linear-gradient(90deg,
                #1ca3ec,
                #35b7f3,
                #4cc7ff);

        .texto {
            width: 30vw;
            color: white;
            margin-left: -5%;

        }

        .texto h2 {
            font-size: 4.2vw;
            opacity: 0;
            transition: 0s 2s;

        }

        .texto p {
            line-height: 2.0vw;
            opacity: 0;
            transition: 0s 2s;
        }

        @media (max-width: 764px) {
            .texto p {
                line-height: 3.0vw;
                opacity: 0;
                transition: 0s 2s;
            }
        }

        .texto button {
            padding: 0.8vw;
            border: solid white 2px;
            background: rgb(255, 255, 255, 0.9);
            border-radius: 3px;
            cursor: pointer;
            margin-top: 10vw;
            opacity: 0;
            transition: 0s 2s;
        }

        .circulo img {
            width: 35vw;
            margin-left: -40%;
        }

        .latas {
            margin-left: 7vw;
        }

        .latas img:nth-child(2) {
            cursor: pointer;
            width: 10vw;
        }

        .latas img:nth-child(1) {
            width: 14vw;
        }

    }

    .slide.ativo {
        clip-path: circle(150% at 89% 50%);
        opacity: 1;
        margin-top: 0.8vw;
        transition: 2s;
        position: absolute;
        top: 0;
        z-index: 3;

        button {
            margin-top: 1vw;
            opacity: 1;
            transition: 1s;
        }

        h2 {
            opacity: 1;
            transition: 1s;
        }

        p {
            opacity: 1;
            transition: 1s;
        }
    }

    .slide:nth-child(2) {
        background: pink;
    }



    .slide:nth-child(4) {
        background: rgb(45, 170, 61);
        ;
    }
}

.slide:nth-child(3) {
    background: rgb(255, 123, 0);

    .latas img:nth-child(2) {
        cursor: pointer;
        width: 11.5vw;
    }

    .latas img:nth-child(1) {
        width: 13vw;
    }

}

.section2 {
    background: rgba(255, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    position: relative;
    top: 100vh;

    .area {
        width: 100%;
        height: 100%;
        clip-path: circle(0% at 19% 50%);
        opacity: 0;
        position: absolute;
        z-index: 2;
        transition: opacity 0.1s 2s, clip-path 0.1s 2s;
        display: flex;
    }

    .area img {
        display: flex;
        width: 30vw;
        height: 100vh;
        align-items: center;
    }

    .sobre {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 10%;

        .sobre-text {
            display: flex;
            flex-direction: column;
            width: 30vw;
            color: white;
        }

        .sobre-text h2 {
            font-size: 5vw;
        }

        .sobre-text p {
            width: 30vw;
            font-size: 1.3vw;
        }

        .sobre-text button {
            padding: 0.8vw;
            border: solid white 2px;
            background: rgb(255, 255, 255, 0.9);
            border-radius: 3px;
            cursor: pointer;
            transition: 0s 2s;
            width: 10vw;

        }
    }

    .area:nth-child(1) {
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, red, rgb(196, 10, 10), rgb(121, 0, 0));
        opacity: 0;
    }

    .area:nth-child(2) {
        width: 100%;
        height: 100%;
        background: rgb(255, 163, 178);
        opacity: 0;
    }

    .area:nth-child(4) {
        width: 100%;
        height: 100%;
        background: rgb(45, 170, 61);
        opacity: 0;
    }

    .area:nth-child(3) {
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #1ca3ec, #35b7f3, #4cc7ff);
        opacity: 0;
    }

    .area:nth-child(5) {
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, orange, rgb(248, 172, 30));
        opacity: 0;
    }

    .imgens img {
        animation: gira 30s infinite linear;
        opacity: 0;
        cursor: pointer;
        width: 45vw;
    }

    .area.ativo {
        clip-path: circle(120% at 19% 50%);
        opacity: 1;
        transition: opacity 0.1s ,clip-path 4s;
        z-index: 3;

        .sobre-text button {
            padding: 0.7vw;
            border: solid white 2px;
            background: rgb(255, 255, 255, 0.9);
            border-radius: 3px;
            cursor: pointer;
            margin-top: 1vw;
            transition: 0s 2s;
        }


    }

    .imgens.ativo img {
        opacity: 1;
        position: absolute;

    }

}



@keyframes gira {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.section3 {
    width: 100%;
    height: 100vh;
    background: #f5f5f5;
    position: relative;
    top: 80vh;


}

.titulo {
    width: 100%;
    height: 30vh;
    position: relative;
    top: 80vh;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        font-size: 5vw;
        color: white;
        text-shadow: 0 0 10px black;
    }
}

.pruduton {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 20vw);
    gap: 0 3%;

    .Produto {
        width: 20vw;
        height: 20vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: rgb(255, 255, 255);
        border-radius: 20px;
        box-shadow: 0 10px 30px rgb(0, 0, 0, 0.7);
        opacity: 0;
    }

    .Produto img {
        width: 11vw;
    }

    .Produto button {
        padding: 0.7vw 1.5vw;
        cursor: pointer;
        border: solid white 2px;
        background: rgb(255, 255, 255, 0.8);
        border-radius: 5px;
        box-shadow: 0 0 10px black;
    }

}

.pruduton button:active {
    transform: translateY(-5px);
}

.pruduton h3 {
    color: white;
    text-shadow: 0 0 10px black;
}

.section4 {
    width: 100%;
    height: 100vh;
    background: #f5f5f5;
    position: relative;
    top: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .section4-pricipal {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo2 img {
        width: 35vw;
    }

    .numero1 {
        display: flex;
        align-items: center;

    }

    .imagem1-numero {
        width: 4vw;
        height: 4vw;
        background: rgb(255, 255, 255);
        border-radius: 50%;
        box-shadow: 0 0 15px black;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-right: 1vw;
    }

    .imagem1-numero:hover {
        background: rgb(240, 240, 240);
    }

    .atendimento1 {
        display: flex;
        align-items: center;
    }

    .numero2 {
        display: flex;
        align-items: center;
        max-width: 70vw;
    }

    .textos-numero {
        display: flex;
        flex-direction: column;
        margin-top: 4vw;
        max-width: 20vw;
    }

    .titulo-contato h2 {
        color: red;
        display: flex;
        width: 35vw;
        border-bottom: solid 2px red;
        font-size: 4vw;
    }

    .atendimento2 h2 {
        color: red;
        margin-top: 1vw;
    }
}

.rede {
    width: 100%;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin-top: 3vw;
}

.rede img {
    background: white;
    box-shadow: 0 0 10px black;
    border-radius: 50%;
    padding: 0.3vw;
    cursor: pointer;
}

.rede img:hover {
    background: rgb(223, 223, 223);
}

.carrosfundo {
    width: 100%;
    height: 100vh;
    background: white;
    position: fixed;
    top: 0;
    display: none;
    z-index: 4;
   
}
.tutlo-carro{
    width: 100%;
    height: 10vh;
    color: white;
    text-shadow: 0 0 10px black;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 5vw;
}
.sair-carrinho{
    width: 3vw;
    height: 3vw;
    font-size: 2vw;
    text-align: center;
    border-radius: 50%;
cursor: pointer;
border: solid 1px black;
position: absolute;
z-index: 10;
left: 1vw;
top: 1vw;
}
.carrinhos {
    width: 90%;
    height: 85vh;
    background: rgb(4, 4, 5,0.9);
    margin: 5%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    top: 0;
}

.carrinhoss {
    width: 90%;
    height: 90%;
    display: grid;
    z-index: 56;
    grid-template-columns: repeat(3, 1fr);
}

.produtoss {
    background: rgb(255, 255, 255);
    width: 25vw;
    height: 13vw;
    border-radius: 0.7vw;
    display: flex;
    z-index: 45;
    position: relative;

    img {
        height: 100%;
    }

    #lixeira {
        position: absolute;
        right: 0.5vw;
        cursor: pointer;
        bottom: 0.5vw;
    }

    .carrinho-texto {
        display: flex;
        flex-direction: column;
        gap: 0.5vw;
        height: 100%;
        width: 50%;
        position: absolute;
        right: 0;
        z-index: 30;
        top: 0;

        h2 {
            font-size: 1.6vw;
            max-width: 100%;
        }
    }

    .botons {
        display: flex;
    }

    .carrinho-texto button {
        width: 3vw;
        height: 3vw;
        font-size: 2vw;
        border-radius: 50%;
        border: solid black 1px;
        text-align: center;
        color: rgb(19, 19, 19);
        background: rgba(255, 255, 255, 0.8);
        cursor: pointer;
    }
}

.produtoss.um {
    display: none;
}

.produtoss.dois {
    display: none;
}

.produtoss.tres {
    display: none;
}

.produtoss.quatro {
    display: none;
}

.produtoss.cinco {
    display: none;
}

.produtoss.seis {
    display: none;
}

.faixa {
    width: 100%;
    height: 200vh;
    position: relative;
    top: 90vh;
    background: #b3b3b3;
    z-index: -2;

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
    }
}

.fundo {
    height: 200vh;
    width: 100%;
    background: #b3b3b3;
    position: absolute;
    z-index: 12;
    clip-path: polygon(0 0,
            200% 0,
            200% 200%,
            0 200%);
}

#latinha1 {
    width: 20vw;
    height: auto;
    position: absolute;
    z-index: 50;
    top: 15%;
    left: 5%;
    transform: rotate(-10deg);
}

#latinha2 {
    width: 20vw;
    height: auto;
    position: absolute;
    z-index: 50;
    top: 38%;
    left: 70%;
    transform: rotate(10deg);
}

#latinha3 {
    width: 20vw;
    height: auto;
    position: absolute;
    z-index: 50;
    top: 58%;
    left: 13%;
    transform: rotate(-10deg);
}

@media (max-width: 768px) {
    .section3 {
        width: 100%;
        height: 250vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pruduton {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4vw;
        height: 100%;
        width: 100%;

        .Produto {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40vw;
            height: 40vw;

            button {
                padding: 1vw 3vw;
                font-size: 2.5vw;
            }

            p {
                font-size: 3vw;
                margin-bottom: .5vw;
            }

            img {
                width: 20vw;
            }
        }
    }

    .section4 {
        width: 100%;
        height: 100vh;
        top: 100vh;
    }

    .section2 {


        .imgens.ativo img {
            width: 40vw;
            height: 50vw;
            top: 40vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .area {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
        }
    }

    .area {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}